* {
	box-sizing:border-box;
	}

body {
	margin:0;
	font-family: Arial;
}

.navbar{
	overflow:hidden;
	background-color:#00ace6;
	position:fixed;
	top: 0;
	width: 100%;
	height:45px;
}	
.navbar a{
	 float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
	border-right: 1px solid #bbb
	
	
}

.navbar a:hover {
	background-color:#0066cc;
}


.input1[type=text] {
    width: 100px;
	height:44px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	float:right;
	border: 1px solid black;
	
}

.input1[type=text]:focus {
    width: 31%;
}

.div1 {
	padding-top: 5.5%;
}


.logo {
	width:100%;
	height:auto;
	background-size:contain;
	float:left;
	border-radius:80px;
}

.main{
	width:100%;
	height:auto;
}

.name{ 
font-family:"Courier";
font-size:80px;	
}

.motto{
	font-family:"Courier";
	font-style:italic;
	font-size:40px;
	
}
.newsh{
	text-align:center;
	
}

.news{
	background-color:white;
	border:5px solid #003399;
	margin:10%;
	text-align:center;
	height:auto;
	width:100%;
	padding:10px;
	
}

ul{
	list-style-type:none;
	
}

li{
	padding:10px;
}

a{
	color:inherit;
}

a:hover { 
    color: #6666ff;
}


.threep {
	width:100%;
	height:auto;
}

.button{
	  padding: 40px 60px;
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ff9933;
  border: none;
  border-radius: 15px;
  float:right; 
  height:auto;
  width:100%;
}

.donate{
	text-align:center;
}
.button:hover {background-color: #cc6600}

.button:active {
  background-color: #cc6600;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
                
                float:left;
				padding: 15px;
                
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}





.row::after{
	content:"";
	clear:both;
	display:table;
                                                                
}

.last{
                margin:0;
                
}


.box {
                border: solid 2px black;
                background: rgb(175,175,175);
                text-align: center;
}




.navbar2 {
	overflow:hidden;
	background-color:#00ace6;
	bottom: 0;
	width: 100%;
	height:50px;
}

.navbar2 a{
	 float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 16px 10px;
    text-decoration: none;
	border-left: 1px solid #bbb;
	
	
	
}

.navbar2 a:hover {
	background-color:#0066cc;
}

/*.fshape{
	border: 1px solid #bbb;
	padding: 1px;
}*/
.contact1 {
	text-align:center;
	
}

.events{
	border:5px solid #003399;
	text-align:center;
	background-color:#e6f0ff;
	font
}

.quote{
	font-family:helvetica thin;
	font-size:20px;
	
}

.Nelson{
	text-align:right;
	font-family:helvetica thin;
	float: right;
	font-size: 25px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}


@media only screen and (max-width: 640px){
	.col-1, .col-2, .col-3, .col-4,
	.col-5, .col-6, .col-7, .col-8,
	.col-9, .col-10, .col-11, .col-12,.navbar,.navbar2,.button,.contact{
		float: none;
		width: 100%;
		margin-top: 3px;
	}
